/**!NOSOTROS SECTION**/
.nosotros-section {
    font-size: nth($font-sizes, 5); // Esto tomará el 5to valor de la lista, es decir, 45px
    font-weight: 500;
    font-family: $tipografia-secundaria;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: $color-secundario;
}

.nosotros-parrafo1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    line-height: 26px;
    max-width: 930px;
    font-size: 18px;


}

.nosotros-container {
    @include flex(flex, center, justify);
    flex-direction: row;
    align-items: center;
    margin: 15px;
    line-height: 28px;

    .nosotrosimg {
        height: 100%;
        width: 800px;


    }
}

.sobrenosotros {
    justify-content: center;
    margin: 40px;

    h2 {
        font-size: 30px;
        padding: 10px;
        color: $color-secundario;
        font-family: "Montserrat", sans-serif;
    }

    p {
        text-align: justify;
    }


}

.sobrenosotros-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 15px;
    justify-content: center;
    text-align: justify;
    line-height: 28px;

    .nosotros-agricultor {
        height: 100%;
        width: 800px;


    }
}